body{
    background: var(--color-bg);    
}

.title {
    width: 600px;
    height: 300px;
    background-color: var(--color-main);
    border-radius: 120px 120px 0px 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px auto;
    font-size: 25px;
    color:white
}

.user_login {
    width: 700px;
    height: 150px;
    background-color: var(--color-light-grey);
    border-radius: 90px;
    margin: auto;
    padding: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user_login input {
    width: 70%;
    height: 100%;
    font-size: 30px;
    background-color: unset;
    border: unset;
    outline: unset;
    
}

.user_login button {
    border: unset;
    background-color: unset;
    outline: none;
    width: 15%;
}

.user_login button i {
     width: 90px;
    height: 90px;
    line-height: 90px;
    border-radius: 100%;
    background-color: var(--color-main);
    font-size: 35px;
    color: white;
    cursor: pointer;
}